/packages

Chreytli.Api/App_Data/*.mdf
Chreytli.Api/App_Data/*.ldf

Chreytli.Api/bin/
Chreytli.Api/obj/

Chreytli.Api/images/
Chreytli.Api/Properties/PublishProfiles

appsettings.config

*.suo
.vs
/UpgradeLog.htm
